@import '../../Sass/mixins';

.reward-page {
    margin-top: 80px;
}

/* Dropdown styling
================================================== */

@mixin styling() {
    background-color: white;
    border-radius: 4px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.dd-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 38px;
    flex-wrap: wrap;
}

    // .dd-header {
    //     @include styling();
    //     display: flex;
    //     justify-content: space-between;
    //     cursor: pointer;
    //     width: 160px;
    //     padding: 0 20px;
    //     background-color: #00e39e;
    //     font-size: 20px;

    //     @include responsive( 600px ) {
    //         width: 210px;
    //     }

    //     &__title--bold {
    //         font-weight: bold;
    //     }
    // }

    .reward-dd-header {
        @include styling();
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: 100vw;
        padding: 0 20px;
        background-color: #00e39e;
        font-size: 20px;

        &__title--bold {
            font-weight: bold;
        }
    }

    .reward-dd-list {
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        padding: 0px 0px;
        margin: 0px;
        // width: 200px;
        width: 100vw;
        background-color: rgb(240, 238, 238);
        margin-bottom: 0px;

        // @include responsive( 600px ) {
        //     width: 250px;
        // }

        li{
            list-style-type: none;

            &:first-of-type {
                >button {
                    border-top: 1px solid #ccc;
                    // border-top-left-radius: 4px;
                    // border-top-right-radius: 4px;
                }
            }

            &:last-of-type {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

.child-button {
    background-color: transparent;
    font-size: 16px;
    // padding: 15px 20px 15px 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    // width: 200px;
    width: 100vw;
    // text-align: left;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    // @include responsive( 600px ) {
    //     width: 250px;
    // }
    
    &:hover, &:focus {
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .rewards-div {
    @include styling();
    padding-left:10px;
    border-top: .1px solid lightgrey;
    padding-top:10px;
    margin-top:10px;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .reward-text {
    font-weight: 900;
    font-size: large;
  }

  .reward-remove-button {
    margin-right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background-color: #00E39E;
    margin-right: 5px;
  }