@import '../../Sass/mixins';
@import '../../Sass/variables';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.store-page{
    background-color: $highlight1;
    height: 100%;
    width: 100vw;
    margin-top: 80px;
}

.dd-wrapper{
    height:4vh;
    margin-bottom: 0px;
}
.submit_inputs {
    color:white;
    margin: 20px;
    @include flexBaseOptions(center, row);
    .email_input {
      width: 181px;
      @include inputStyles();
      @include inputStyleTwo();
    };
    .name_input {
      width: 140px;
      @include inputStyles();
      @include inputStyleTwo();
    };
    input {
      height:25px;
      @include inputStyles();
      @include inputStyleTwo();
    };
  }
.dd-list-item{
    width: 100%;
    border: black;
}
.dd-list{
    border: solid 1px black;
    width:30% !important;
    background-color:white;
    border-radius:5px;
    border:transparent;
    position: relative;
    z-index:2;
}
// .parent-selection{
//     height:10vh;
// }

// .dd-header{
//     color:$shadow2;
//     width: 50vw;
// }
// .drop-down-name{
//     background-color: white;
//     width: 135%;
// }
.child-button{
    border:solid 1px green;
    width: 100% !important;
    border:transparent !important;
    font-weight: bolder;
}
.points{
    @include flexBaseOptions(flex-end,row);
    background-color: $highlight1;
    font-size: xx-large;
    color: $shadow2;
    font-family: Apple Chancery, cursive;
}
.text-points{
    margin-right: 5%;
}

.store-rewards{
    @include flexBaseOptions(flex-start,column);
    background-color: $highlight1;
    font-size: xx-large;
    overflow:scroll;
    height:95vh;
    ::-webkit-scrollbar {
  width:100%;
  background:transparent;
}

}
.store-reward{
    height:16vh;
    @include borderStyle();
    width:95%;
    @include flexBaseOptions(space-between,row);
    background-color: $mainColor;
    margin:3vh;
    position: relative;
}

.reward-info{
    margin-left: 5%;
    color: $highlight2;
    margin-top:3%;
}

.buy-button{
    background-color: #52b1ff;
    margin-top: 3%;
    margin-bottom: 3%;
    height:70%;
    width:25%;
    margin-right: 5%;
    border-radius: 10px;
    font-size: xx-large;
    color: white;
}
.buy-button:hover{
    cursor: pointer;
}

.delete-button{
    background: url(trashIcon.svg);
    background-repeat: no-repeat;
    width:20px;
    align-self: flex-start;
    height: 20px;
    background-size: contain;
    position: absolute;
    padding: 0; 
    margin-left:6%;
    margin-top:3% ;
    border: none;

}

.delete-button:hover{
    cursor: pointer;
}
.popup-reward-content{
    border-radius: 5px;
    background-color: $highlight1 !important;
    border-color: $shadow2 !important;
}
.popup-reward-content>div>button{
    background-color: $highlight1 !important;
    border-radius: 10px;
    margin-top:7%;
    margin-bottom: -10px;
    background-color: $highlight2 !important;
}

@media (min-width: 1025px){
    .points{
        font-size: 4vw;
    }
    .text-points{
        margin:auto;
    }
    .store-rewards{
        @include flexBaseOptions(flex-start,row);
        flex-wrap: wrap;
        justify-content: center;
        overflow:scroll;
        ::-webkit-scrollbar {
      width:100px;
      background:transparent;
    }
    height: 100%;
    }
    .store-reward{
        width: 22%;
        height:35vh;
        margin:1vh;
        
    }
    .buy-button{
        width:35%;
        height:50%;
        border-radius: 20px;
        font-size: 3vw;
    }
    .reward-info{
        font-size: 2vw;
    }
    .delete-button{
        width:20%;
        height: 20%;
        margin-left:6%;
        margin-top:3%;
    }
    // .popup-content{
    //     height:10vh;
    //     width: 10%;
    // }
    .popup-reward-content{
        width: 300px !important;
        padding: 30px !important;
    }
    .popup-reward-content>div>button{
        background-color: $highlight1 !important;
        border-radius: 10px;
        margin-top:4%;
        margin-bottom: -10px;
    }
    .popup-reward-content>div>button:hover{
        background-color: $highlight2 !important;
        cursor: pointer;
    }
    .child-button{
        margin-bottom:5px;
    }
    // .pop-up-reward{
    //     height:15vh;
    //     width: 5vw;
    // }
    // .submit-inputs{
    //     width:5vw;
    // }
    // .input-container{
    //     height:15vh;
    //     width: 5vw;
    // }
    // .modalWrapper >div>div{
    //     width: 300px !important;
    //     padding: 24px !important;
    //     border-radius: 10px
    // }
}
