@import '../../Sass/mixins';
@import '../../Sass/variables';
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

.store-page{
    background-color: $highlight1;
    height: 100%;
    width: 100vw;
}

.dd-wrapper{
    height:7vh;
    margin-bottom: 0px;
}
.submit_inputs {
    color:white;
    margin: 20px;
    @include flexBaseOptions(center, row);
    .email_input {
      width: 181px;
      @include inputStyles();
      @include inputStyleTwo();
    };
    .name_input {
      width: 140px;
      @include inputStyles();
      @include inputStyleTwo();
    };
    input {
      height:25px;
      @include inputStyles();
      @include inputStyleTwo();
    };
  }
// .dd-list-item{
//     width: 100%;
//     border: black;
// }
// .dd-list{
//     border: transparent;
// }

// .dd-header{
//     color:$shadow2;
//     width: 50vw;
// }
// .drop-down-name{
//     background-color: white;
//     width: 135%;
// }
// .child-button{
//     color: $shadow2;
//     border:transparent;
//     width: 80%;
// }
.points{
    @include flexBaseOptions(flex-end,row);
    background-color: $highlight1;
    font-size: xx-large;
    color: $shadow2;
    font-family: Apple Chancery, cursive;
}
.textPoints{
    margin-right: 5%;
}

.storeRewards{
    @include flexBaseOptions(flex-start,column);
    background-color: $highlight1;
    font-size: xx-large;
    overflow:visible;
    height:95vh;
    ::-webkit-scrollbar {
  width:100%;
  background:transparent;
}
height:100%;
}
.storeReward{
    height:16vh;
    @include borderStyle();
    width:95%;
    @include flexBaseOptions(space-between,row);
    background-color: $mainColor;
    margin:3vh;
}

.rewardInfo{
    margin-left: 5%;
    color: $highlight2;
}

.buyButton{
    background-color: #52b1ff;
    margin-top: 3%;
    margin-bottom: 3%;
    height:70%;
    width:25%;
    margin-right: 5%;
    border-radius: 10px;
    font-size: xx-large;
    color: white;
}
.buyButton:hover{
    cursor: pointer;
}

@media (min-width: 1025px){
    .points{
        font-size: 4vw;
    }
    .textPoints{
        margin:auto;
    }
    .storeRewards{
        @include flexBaseOptions(flex-start,row);
        flex-wrap: wrap;
        justify-content: center;
        overflow:visible;
        ::-webkit-scrollbar {
      width:100px;
      background:transparent;
    }
    height: 81.2vh;
    }
    .storeReward{
        width: 22%;
        height:35vh;
        margin:1vh;
        
    }
    .buyButton{
        width:35%;
        height:50%;
        border-radius: 20px;
        font-size: 3vw;
    }
    .rewardInfo{
        font-size: 2vw;
    }
}
