@import '../../Sass/mixins';
@import '../../Sass/variables';
/* Reset
=======================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}


/* Dropdown 
=======================================================*/

@mixin styling() {
    background-color: white;
    border-radius: 4px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

.dd-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:190px;
}
.dropdown_holder{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.selectdate{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:40px;
    width:150px;
    border-radius:5px;
    border:none;
    font-size:20px;
    background-color:$mainColor;
}
.flex{
    overflow:scroll;
    display:flex;
    width:100vw;
    justify-content:space-around;
    margin-bottom:15px;
}
.dropdown{
    margin-top:10px;
    width:190px;
}

.dd-header {
        @include styling();
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width:140px !important;
        margin-right:0px;

        &__title--bold {
            font-weight: bold;
    }
 }
 

    .dd-list {
        position:relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        padding: 0;
        margin: 0;
        width: 30%;
        // margin-top: 20px;

        li{
            button{
                width:180px;
                margin-top:0px;
                outline:none;
                border:none;
                background-color:$complimentary;
                font-size:20px;
                height:30px;
            }
            list-style-type: none;

            &:first-of-type {
                >button {
                    border-top: 1px solid #ccc;
                    // border-top-left-radius: 4px;
                    // border-top-right-radius: 4px;
                }
            }

            &:last-of-type {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }

.child-button {
    background-color: transparent;
    font-size: 16px;
    // padding: 15px 20px 15px 20px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 135%;
    text-align: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    
    &:hover, &:focus {
        cursor: pointer;
        font-weight: bold;
        background-color: #ccc;
    }
}
.date{
    display:flex;
    align-items:center;
    font-size:25px;
}
.tasks{
    margin-top:90px;
    font-size:20px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

// Task pop-up

.popup-content{
    width:60vw !important;
    height:260px !important;
}
.taskpopup{
    width:100%;
    height:100%;
    padding-top:10px;
    label{
        font-size:25px;
    }
    input{
        height:20px;
        width:95%;
        margin-bottom:10px;
    }
    button{
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    height:40px;
    width:100px;
    margin:0 !important;
    border-radius:5px;
    border:none;
    font-size:20px;
    background-color:$mainColor;
    }
    .taskbuttons{
        display:flex;
        justify-content:space-around;
    }
}
//mapped tasks
.task_display{
    padding-left:10px;
    border-top: .1px solid lightgrey;
    padding-top:10px;
    margin-top:10px;
    .selectdate{
        margin-left:65vw;
        width:100px;
        border-radius:10px;
        font-size:15px;
    }
    .check{
        margin-left:90vw;
        height:20px;
        width:20px;
    }
    b{
        font-weight:bold;
    }
   
}