@import '../../Sass/mixins';
@import '../../Sass/variables';

.register_holder {
  height: 100vh;
  width: 100vw;
  @include flexBaseOptions(none, column);
};

.register_header_holder {
  height: 15vh;
  width: 70vw;
  margin-top: 30px;
  @include flexBaseOptions(center, column);
}

.register_header {
  color: rgb(31, 34, 37);
  font-size: 30px;
  margin-bottom: 10px;
};

.register_form {
  height: 60vh;
  width: 70vw;
  @include borderStyle();
  @include flexBaseOptions(center, column);
  padding: 10px;
}

.register_inputs {
  margin: 10px;
  @include flexBaseOptions(center, row);
  .email_input {
    width: 181px;
    @include inputStyles();
  };
  .name_input {
    width: 140px;
    @include inputStyles();
  };
  input {
    @include inputStyles();
  };
}

.register_button_holder {
  @include flexBaseOptions(center, column );
  width: 38vw;
  margin-top: 20px;
}

