@import '../../Sass/mixins';
@import '../../Sass/variables';

.register_holder {
  height: 100vh;
  width: 100vw;
  @include flexBaseOptions(none, column);
};

.register_header_holder {
  height: 100px;
  width: 100vw;
  background-color:$mainColor;
  @include flexBaseOptions(center, column);
  margin-bottom:50px;
}
.register_link{
  color:white;
  text-decoration:none;
}

.register_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
};

.register_form {
  height: 70vh;
  width: 80vw;
  background-color:$mainColor;
  @include borderStyle();
  @include flexBaseOptions(center, column);
  border:none;
  padding: 10px;
}
b{
  font-size:20px;
}
.register_inputs {
  color:white;
  margin: 10px;
  @include flexBaseOptions(center, row);
  .email_input {
    width: 181px;
    @include inputStyles();
    @include inputStyleTwo();
  };
  .name_input {
    width: 140px;
    @include inputStyles();
    @include inputStyleTwo();
  };
  input {
    height:25px;
    @include inputStyles();
    @include inputStyleTwo();
  };
}

.register_button_holder {
  @include flexBaseOptions(center, column );
  color:white;
  margin-top:15px;
  width:50%;
  button{
    outline:none;
    border:1.5px solid white;
    background-color:$mainColor;
    color:white;
    font-size:17px;
    height:50px;
    width:150px;
    border-radius:10px;
  }
}

