@import '../../Sass/mixins';
@import '../../Sass/variables';

.register_holder {
  height: 100vh;
  width: 100vw;
  @include flexBaseOptions(none, column);
  margin: 0; 
  height: 100%; 
  overflow: hidden;
};
::placeholder{
  color: #DFDFDF;
}
.register_header_holder {
  height: 10vh;
  width: 100vw;
  display: flex;
  background-color:$complimentary;
  justify-content: space-between;
  align-items: center;
  //@include flexBaseOptions(center, row);
  //margin-bottom:50px;

}
.header-text{
  margin-left: 10px;
  
}
.header{
  color: white;
  font-size: 30px;

}

.register_link{
  color:white;
  text-decoration:none;
  margin-right: 10px;
}

.register_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
};
.register_inputs_holder{
  margin-top: 30px;
}
.register_form {
  height: 90vh;
  width: 100vw;
  background-color:$complimentary;
  //@include borderStyle();
  @include flexBaseOptions(center, column);
  border:none;
  padding: 10px;
}
b{
  font-size:20px;
}
.register_inputs {
  color:white;
  margin: 10px;
  @include flexBaseOptions(center, row);
  .email_input {
    height: 45px;
    width: 100%;
    @include inputStyles();
    @include inputStyleTwo();
    border-color: white;
    font-size: large;
    color: white;
    background-color: transparent;
  };
  .name_input {
    height: 45px;
    width: 100%;
    @include inputStyles();
    @include inputStyleTwo();
    border-color: white;
    font-size: large;
    color: white;
    background-color: transparent;
  };
  input {
    height: 45px;
    width: 100%;
    @include inputStyles();
    @include inputStyleTwo();
    border-color: white;
    font-size: large;
    color: white;
    background-color: transparent;
  };
}

.register_button_holder {
  @include flexBaseOptions(center, column );
  color:white;
  margin-top:15px;
  width:50%;
  button{
    outline:none;
    border:1.5px solid white;
    background-color:#00e39e;
    color:white;
    font-size:17px;
    height:50px;
    width:150px;
    border-radius:10px;
  }
  button:hover{
    background-color: #00b670;
  }
  button:active{
    background-color: #00834b;
  }
}
.err{
  color: white;
}
@media only screen and (min-width: 600px) {
  ::placeholder{
    color: grey;
  }
  .err{
    color: black;
  }
  .register_header{
    text-align:left;
    width:200px;
    margin-left:30px; 
  }
  .register_header_holder{
    justify-content: space-between;
    align-items: center;
  }
  button{
    margin-bottom:20px;
    margin-right:15px;
  }
  .register_form{
    align-items:flex-start;
    background-color:transparent;
    height:90vh;
    width:60vw;
    box-shadow:none;
  }
  .register_inputs{
    font-size:20px;
    color:black;
    input{
      border-color: black;
      color: black;
      background-color:transparent;
    }
    .email_input{
      border-color: black;
      color: black;
      background-color:transparent;
    }
    .name_input{
      border-color: black;
      color: black;
      background-color:transparent;
    }
  }
  .register_button_holder{
    align-items:flex-end;
    width:80%;
  }
  h5{
    display:flex;
    flex-direction:column;
    text-align:center;
    color:black;
  }
  .register_link{
    color:black;
    margin: 30px;
  }
  input{
    border-color: black;
  }
  .header{
    color: black;
  }
}
