.register_holder {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

::-webkit-input-placeholder {
  color: #DFDFDF;
}

:-ms-input-placeholder {
  color: #DFDFDF;
}

::-ms-input-placeholder {
  color: #DFDFDF;
}

::placeholder {
  color: #DFDFDF;
}

.register_header_holder {
  height: 10vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #52b1ff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text {
  margin-left: 10px;
}

.header {
  color: white;
  font-size: 30px;
}

.register_link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.register_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.register_inputs_holder {
  margin-top: 30px;
}

.register_form {
  height: 90vh;
  width: 100vw;
  background-color: #52b1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 10px;
}

b {
  font-size: 20px;
}

.register_inputs {
  color: white;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.register_inputs .email_input {
  height: 45px;
  width: 100%;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #00E39E;
  border-color: white;
  font-size: large;
  color: white;
  background-color: transparent;
}

.register_inputs .name_input {
  height: 45px;
  width: 100%;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #00E39E;
  border-color: white;
  font-size: large;
  color: white;
  background-color: transparent;
}

.register_inputs input {
  height: 45px;
  width: 100%;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #00E39E;
  border-color: white;
  font-size: large;
  color: white;
  background-color: transparent;
}

.register_button_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-top: 15px;
  width: 50%;
}

.register_button_holder button {
  outline: none;
  border: 1.5px solid white;
  background-color: #00e39e;
  color: white;
  font-size: 17px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}

.register_button_holder button:hover {
  background-color: #00b670;
}

.register_button_holder button:active {
  background-color: #00834b;
}

.err {
  color: white;
}

@media only screen and (min-width: 600px) {
  ::-webkit-input-placeholder {
    color: grey;
  }
  :-ms-input-placeholder {
    color: grey;
  }
  ::-ms-input-placeholder {
    color: grey;
  }
  ::placeholder {
    color: grey;
  }
  .err {
    color: black;
  }
  .register_header {
    text-align: left;
    width: 200px;
    margin-left: 30px;
  }
  .register_header_holder {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  button {
    margin-bottom: 20px;
    margin-right: 15px;
  }
  .register_form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: transparent;
    height: 90vh;
    width: 60vw;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .register_inputs {
    font-size: 20px;
    color: black;
  }
  .register_inputs input {
    border-color: black;
    color: black;
    background-color: transparent;
  }
  .register_inputs .email_input {
    border-color: black;
    color: black;
    background-color: transparent;
  }
  .register_inputs .name_input {
    border-color: black;
    color: black;
    background-color: transparent;
  }
  .register_button_holder {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 80%;
  }
  h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: black;
  }
  .register_link {
    color: black;
    margin: 30px;
  }
  input {
    border-color: black;
  }
  .header {
    color: black;
  }
}
/*# sourceMappingURL=Register.css.map */