.register_holder {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register_header_holder {
  height: 100px;
  width: 100vw;
  background-color: #F66747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.register_link {
  color: white;
  text-decoration: none;
}

.register_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.register_form {
  height: 70vh;
  width: 80vw;
  background-color: #F66747;
  border-style: solid;
  border-color: black;
  -webkit-box-shadow: 0 5px 2px -2px #5e5d5d;
          box-shadow: 0 5px 2px -2px #5e5d5d;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 10px;
}

b {
  font-size: 20px;
}

.register_inputs {
  color: white;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.register_inputs .email_input {
  width: 181px;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
}

.register_inputs .name_input {
  width: 140px;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
}

.register_inputs input {
  height: 25px;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
}

.register_button_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-top: 15px;
  width: 50%;
}

.register_button_holder button {
  outline: none;
  border: 1.5px solid white;
  background-color: #F66747;
  color: white;
  font-size: 17px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
}
/*# sourceMappingURL=Register.css.map */