@import '../../Sass/mixins';
@import '../../Sass/variables';

.login_holder {
  height: 100vh;
  width: 100vw;
  @include flexBaseOptions(none, column);
};
.login_password{
  background-color: white;

}

.login_header_holder {
  height: 100px;
  width: 100vw;
  background-color:$complimentary;
  @include flexBaseOptions(center, column);
  margin-bottom:50px;
}
.login_link{
  color:white;
  text-decoration:none;
}

.login_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
};

.login_form {
  height: 70vh;
  width: 80vw;
  background-color:$complimentary;
  @include borderStyle();
  @include flexBaseOptions(center, column);
  border:none;
  justify-content: center;
  padding: 10px;
  b{
    font-size:25px;
  
}

}
.login_inputs {
  color:white;
  margin: 20px;
  justify-content: center;
  .email_input {
    width: 181px;
    @include inputStyles();
    @include inputStyleTwo();
  };
  .name_input {
    width: 140px;
    background-color: white;

    @include inputStyles();
    @include inputStyleTwo();
  };
  input {
    height:25px;
    width: 100%;
    @include inputStyles();
    @include inputStyleTwo();
    border-style: none;
    background-color: white;
  };
}

.login_button_holder {
  @include flexBaseOptions(center, column );
  color:white;
  margin-top:15px;
  width:60%;
  button{
    outline:none;
    border:1.5px solid white;
    background-color:$mainColor;
    color:white;
    font-size:17px;
    height:50px;
    width:150px;
    border-radius:10px;
    margin-top:50px;
  }
}
@media only screen and (min-width: 600px) {
  .login_header{
    text-align:left;
    width:200px;
    margin-left:30px; 
  }
  .login_header_holder{
    align-items:flex-start;
  }
  button{
    margin-right:15px;
    margin-bottom:20px;
  }
  .login_form{
    align-items:flex-start;
    background-color:transparent;
    height:500px;
    width:60vw;
    box-shadow:none;
  }
  .login_inputs{
    font-size:20px;
    color:black;
    input{
      background-color:transparent;
    }
  }
  .login_button_holder{
    align-items:flex-end;
    width:80%;
  }
  h5{
    display:flex;
    flex-direction:column;
    text-align:center;
    color:black;
  }
  .login_link{
    color:black;
    text-align: center;
  }
}