.login_holder {
  height: 100vh;
  width: 100vw;
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login_password {
  background-color: white;
}

.login_header_holder {
  height: 10vh;
  width: 100vw;
  background-color: #52b1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.login_link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.login_header {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}

.login_header .login-link {
  color: white;
}

.login_form {
  height: 90vh;
  width: 100vw;
  background-color: #52b1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  justify-content: center;
  padding: 10px;
}

.login_form b {
  font-size: 25px;
}

.login_form h1 {
  color: white;
  font-size: 30px;
}

.login_inputs {
  color: white;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login_inputs .email_input {
  width: 181px;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
}

.login_inputs .name_input {
  width: 140px;
  background-color: white;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
}

.login_inputs input {
  height: 45px;
  width: 70vw;
  outline: 0;
  border: 1px solid #bdbdbd;
  border-width: 0 0 2px;
  border-color: black;
  background-color: #F66747;
  border-color: white;
  font-size: large;
  color: white;
  background-color: transparent;
}

.login_button_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin-top: 15px;
  width: 60%;
}

.login_button_holder button {
  outline: none;
  border: 1.5px solid white;
  background-color: #00e39e;
  color: white;
  font-size: 17px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 50px;
}

button:hover {
  background-color: #00b670;
}

button:active {
  background-color: #00834b;
}

.login_link:hover {
  color: red;
}

@media only screen and (min-width: 600px) {
  .login_header {
    text-align: left;
    width: 200px;
    margin-left: 30px;
  }
  .login_header_holder {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login_header_holder .login_link {
    color: white;
    margin-right: 30px;
  }
  button {
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .login_form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: black;
    background-color: transparent;
    height: 500px;
    width: 60vw;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login_form h1 {
    color: black;
  }
  .login_form input {
    color: black;
    border-color: black;
    width: 100%;
  }
  .login_inputs {
    font-size: 20px;
    color: black;
  }
  .login_inputs input {
    background-color: transparent;
  }
  .login_button_holder {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 80%;
  }
  h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: black;
  }
  .login_link {
    color: black;
    text-align: center;
  }
  h1 {
    color: black;
  }
  .register_link {
    color: white;
  }
}
/*# sourceMappingURL=Login.css.map */