.profile-picture {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    width: 25%;
    height: 25%;
    margin-top: 20px;
}

.child-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}

.child-profile-picture {
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    width: 30%;
    height: width;
}

.child-points{
    display: flex;
    flex-direction: row;
}

.experience-bar{
    color: green;
    background-color: green;
    border-color: grey;
    border-width: 1px;
    height: 100%;
}

.unfilled-bar{
    background-color: grey;
    width: 20%;
    height: 20px;
}


// .add-child{
//     height: 
// }